body {
  background-color: #f2f5ff;
}

.container {
	width: 100%;
	margin: 0 auto;
}
 
header {
	background: #cfdeff;
	height: 130px;

}


nav {
	float: right;
}

nav li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 35px;
	padding-right: 70px;
	font-family: "serif";
	font-size: 20px;

}

nav a {
	color: #3D7068;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	font-weight:bold;	
}

img.logo {
	padding-left: 10px;
	padding-top: 6px;
}

h1 {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 75px;
	color: #063770;
}

div p {
	padding-top: 50px;
	padding-right:50px;
	padding-left:50px;
	color: black;
}
* {
	box-sizing: border-box
}

body {
	font-family: Verdana, sans-serif; margin:0
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

body {
  background-color: #f2f5ff;
}

.container {
	width: 100%;
	margin: 0 auto;
}
 
header {
	background: #cfdeff;
	height: 130px;

}


nav {
	float: right;
}

nav li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 35px;
	padding-right: 70px;
	font-family: "serif";
	font-size: 20px;

}

nav a {
	color: #3D7068;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	font-weight:bold;	
}

img.logo {
	padding-left: 10px;
	padding-top: 6px;
}

h1 {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 75px;
	color: #063770;
}

h2 {
	text-align: center;
	padding-top: 0px;
	color: black;
	padding-right: 90px;
	padding-left: 90px;
}

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #f2f5ff;
}

.container {
	width: 100%;
	margin: 0 auto;
}
 
header {
	background: #cfdeff;
	height: 130px;

}


nav {
	float: right;
}

nav li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 35px;
	padding-right: 70px;
	font-family: "serif";
	font-size: 20px;

}

nav a {
	color: #3D7068;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	font-weight:bold;
}

img.logo {
	padding-left: 10px;
	padding-top: 6px;
}

h1 {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 75px;
	color: #063770;
}

h2 {
	text-align: center;
	padding-top: 0px;
	color: black;
	padding-right: 90px;
	padding-left: 90px;
}
































